# dependencies
node_modules/
pnpm-lock.yaml
package-lock.json

# Vite
dist/
.vite/

# IDE/editor
.vscode/
*.log

# OS
.DS_Store
Thumbs.db

# BackstopJS temporary files
backstop_data/bitmaps_test/
backstop_data/html_report/
backstop_data/engine_scripts/
backstop_data/casper_scripts/
