@import "tailwindcss";

/* Global box-sizing and image resets - keep these here */
*,
::before,
::after {
  box-sizing: border-box; /* */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

@theme {
  /* fonts */
  --font-montserrat: "Montserrat", sans-serif;
  --font-sans: var(--font-montserrat);
  --default-font-family: var(--font-sans);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  /*color definitions */
  --color-bg-light: #090534;
  --color-bg-medium: #020818;
  --color-bg-dark: #02030d;

  /* spacing, breakpoint, text-size, font-weight definitions */
  --spacing: 0.25rem;
  --breakpoint-lg: 64rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --drop-shadow-3xl: 0 0 15px rgba(0, 150, 255, 0.2);
}

/* custom classes */
.bg-fixed {
  background-attachment: fixed;
}

@layer utilities {
  .bg-complex-gradient {
    background-attachment: fixed, scroll;

    background-image: linear-gradient(
        to bottom right,
        var(--color-bg-light) 0%,
        var(--color-bg-medium) 23%,
        var(--color-bg-dark) 100%
      ),
      linear-gradient(
        to right,
        rgba(0, 255, 255, 0) 0%,
        rgba(0, 255, 255, 0.5) 20%,
        rgba(0, 255, 255, 1) 50%,
        rgba(0, 255, 255, 0.5) 80%,
        rgba(0, 255, 255, 0) 100%
      );
  }
}
