/* src/style.css */

@import "tailwindcss";

/* Global box-sizing and image resets - keep these here */
*,
::before,
::after {
  box-sizing: border-box; /* */
}

img,
picture,
video,
canvas,
svg {
  display: block; /* */
  max-width: 100%; /* */
  height: auto; /* */
}

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-sans: var(--font-montserrat);
  --default-font-family: var(--font-sans);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  /*color definitions */
  --color-green-300: #ccfccb;
  --color-green-400: #96e6b3;
  --color-emerald-700: #568259;
  --color-emerald-900: #464e47;
  --color-green-light: #ccfccb;
  --color-green-dark: #568259;
  --color-red-500: oklch(65.1% 0.209 29.355);
  --color-content-left: #090534;
  --color-content-center: #020818;
  --color-content-right: #02030d;

  /* spacing, breakpoint, text-size, font-weight definitions */
  --spacing: 0.25rem;
  --breakpoint-lg: 64rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
